@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<div style="height:300px; width:800px; top: 50%; left: 50%; margin-top:-150px; margin-left:-400px; position:absolute">
    @* First it must be determined if the user is signed in or not *@
    @if (!SignInManager.IsSignedIn(User))
    {
        <h1 class="text-center">Welcome</h1>
        <p class="text-center">
            To continue, <a asp-controller="Account" asp-action="Register">Register</a>
            or <a asp-controller="Account" asp-action="Login">Login</a>.
        </p>
    }
    else
    {
        @* determine if the user is admin or not *@
        @if (!(await UserManager.FindByNameAsync(User.Identity.Name)).IsAdmin)
        {
            @* User Panel *@
            <div class="card">
                <div class="card-header text-white" style="background-color:crimson">
                    <h5 class="text-center">User Panel</h5>
                </div>
                @if (!(await UserManager.FindByNameAsync(User.Identity.Name)).IsBanned)
                {
                    <div class="card-body">
                        <a class="btn btn-block rounded-1" style="width:50%; margin-left:200px; background-color:aqua"
                           asp-controller="User" asp-action="AddReport">Add a Report</a>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <p class="text-center text-danger">You are BANNED and you can not add a report.<br />Call an Admin to unban.</p>
                    </div>
                }
            </div>
        }
        else
        {
            @* Admin Panel *@
            <div class="card">
                <div class="card-header text-white" style="background-color:yellowgreen">
                    <h5 class="text-center">Admin Panel</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <a class="btn btn-block rounded-1" style="vertical-align:central; background-color:coral"
                               asp-controller="Admin" asp-action="Tables" asp-route-table="All">All Users</a>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-block rounded-1" style="vertical-align:central; background-color:coral"
                               asp-controller="Admin" asp-action="Tables" asp-route-table="Waiting">Waiting Users</a>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-block rounded-1" style="vertical-align:central; background-color:coral"
                               asp-controller="Admin" asp-action="Tables" asp-route-table="Banned">Banned Users</a>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-block rounded-1" style="vertical-align:central; background-color:coral"
                               asp-controller="Admin" asp-action="AllReports">Reports</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
